.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;

    .about-title,
    .tools,
    .sass {
        grid-column: span 2;
    }

    .about-title p {
        font-size: 1.5em;
    }

    .tools p {
        font-size: 1.2em;
    }

    .box {
        border: 2px solid $text-color;
        border-radius: 10px 10px 0 0;
    }

    .box h3 {
        font-size: 1.8em;
        padding: 1em;
        border-radius: 10px 10px 0 0;
        background: linear-gradient(0deg, $header-graidient-color-one 0%, $header-graidient-color-two 99%);
    }

    .box,
    ul li,
    p,
    h3,
    h1,
    h2 {
        text-align: center;
    }

}
