.footer {
    background: $header-color;
    background: linear-gradient(180deg, $header-graidient-color-one 0%, $header-graidient-color-two 95%);
    max-width: 100%;
    box-shadow: 0 -2px 2px $shadow-color;
}

.footer {
    color: $header-footer-text-color;

    a,
    a:visited {
        color: $header-footer-text-color;
    }

    a:hover {
        color: $link-color-hover;
    }

    p {
        margin: 0;
        padding: 3em 2em;
    }

    .social {
        float: right;
        padding: 1.5em 2em 1.5em 1em;
        font-size: 2rem;
    }
}
