.header {
    background: $header-color;
    background: linear-gradient(0deg, $header-graidient-color-one 0%, $header-graidient-color-two 95%);
    width: 100%;
    box-shadow: 0 2px 2px $shadow-color;
}

.title,
.logo {
    float: left;
}

.title {
    padding: 3em 3em 3em 0;
    margin: 0;

    p,
    h1 {
        color: $header-footer-text-color;
    }


    p {
        font-style: italic;
    }
}

.logo {
    height: 1.2em;
    padding: 0.85em 0.4em;

    a,
    a:hover,
    a:visited {
        color: $header-footer-text-color;
    }

    * {
        display: block;
        height: 100%;
    }

    img {
        min-width: 4.8em;
    }
}

.logo+.title h1 {
    margin: 0.8rem 0;
}

.logo+.title.tagline h1 {
    margin: 0;
}

.nav {
    clear: both;
    padding: 0 2em 0.5em;
    text-align: right;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        display: inline-block;
        margin-left: 1em;
        padding: 0;
        font-weight: bold;
        font-size: 2em;
    }

    ul li a {
        //font-size: 2em;
    }
}

.nav a,
.nav-toggle,
.nav a:visited {
    color: $header-footer-text-color;
}

.nav .active a {
    color: lighten($header-footer-text-color, 5%);
    text-shadow: 2px 2px 2px darken($shadow-color, 40%);
}

.nav a:hover,
.nav-toggle:hover {
    color: $link-color-hover;
}

.nav-toggle {
    display: none;
}
