.reportpage {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2em;
    padding: 0 2em;
    margin: 0 1em;
}

.reportpage h1 {
    grid-column: 2;
}

.kmom-nav {
    margin-top: 4em;
    background-color: darken($background-color, 5%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 3px solid $link-color;
    padding: 1em;

    a {
        text-align: center;
        margin: 0.2em;
        padding: 1.2em 0.8em 0.2em;
        color: $link-color-visited;
    }

    a:visited {
        color: $link-color-visited;
    }

    a:hover {
        color: $link-color-hover;
    }

    .active {
        color: $link-color-visited !important;
        border-bottom: 2px solid $link-color-visited;
    }
}

.report-area img {
    box-shadow: 2px 2px 2px $shadow-color;
}

.color-pallette {
    border-spacing: 4px;
    border-collapse: separate;
}

.color-square {
    height: 50px;
    width: 50px;
}

@media (max-width: 767px) {
    .reportpage {
        grid-template-columns: auto;
    }

    .reportpage h1 {
        grid-column: span 1;
    }

    .kmom-nav {
        display: none;
    }
}
