* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
}

.main {
    padding: 5em 0 4em;
}

.container {
    max-width: 80em;
    padding: 0 0.5em;
    margin: 0 auto;
}

.flash-region {
    line-height: 0;
}

.flash-img {
    width: 100%;
}
