@import '../../node_modules/normalize.css/normalize';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import 'mixins';

@import '../../shared/scss/base';
@import 'variables';

@include font($header-font-family, $header-font-file);
@include font($text-font-family, $text-font-file);

@import 'miscellaneous';
@import 'typography';
@import 'responsive';
@import 'header';
@import 'layout';
@import 'footer';
@import 'report';
@import 'kmom';
@import 'home';
@import 'gallery';

.me-img img {
    box-shadow: 2px 2px 4px $shadow-color;
}

.kmom-box {
    border: 1px solid $text-color;
    background-color: lighten($background-color, 20%);

    h3 {
        background: $header-color;
        background: linear-gradient(0deg, $header-graidient-color-one 0%, $header-graidient-color-two 99%);
        color: $header-footer-text-color;
    }

    p,
    i {
        color: $header-color;
    }
}
