@import '../../node_modules/normalize.css/normalize';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import 'mixins';

@import '../../shared/scss/base';
@import '../../jeso20old/css/style';
@import 'variables-dark';

@include font($header-font-family, $header-font-file);
@include font($text-font-family, $text-font-file);

@import 'typography';
@import 'header';
@import 'layout';
@import 'footer';
@import 'report';
@import 'kmom';
@import 'home';
@import 'gallery';


.me-img {
    filter: grayscale(70%);

    img {
        border-radius: 5%;
        box-shadow: 2px 2px 4px $shadow-color;
    }
}

.gallery-img {
    filter: grayscale(60%);
}

.kmom-box {
    border: 1px solid $text-color;
    background-color: darken($background-color, 2%);

    h3 {
        background: $header-color;
        background: linear-gradient(0deg, $header-graidient-color-one 0%, $header-graidient-color-two 50%);
    }

    p {
        color: $link-color-visited;
    }

    i {
        color: $link-color-visited;
    }
}
