html {
    font-size: 16px;
}

body {
    font-family: 'MedievalSharp', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    color: $text-color;
}

.header,
.footer {
    font-family: 'Metal Mania', sans-serif;
}

.logo {
    font-size: 5em;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

p,
hr,
table,
.table-responsive,
ol,
ul,
dl,
dd,
pre,
blockquote,
fieldset {
    margin-bottom: 1em;
}

a {
    color: $link-color;
    text-decoration: underline;
    transition: color 0.2s ease-in;
}

.header a,
.footer a,
.kmom-box a,
.kmom-nav a {
    text-decoration: none;
}

a:hover {
    color: $link-color-hover;
}

a:visited {
    color: $link-color-visited;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
    color: $text-color;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
}

img {
    max-width: 100%;
}

hr {
    border: 0.15em solid #f5f5f5;
    border-radius: 0.3em;

}

abbr {
    text-decoration: underline dotted;
}
